{% extends "base.html" %}

{% block content %}

    <h1 style="text-align: center;">Hello World!</h1>

    <h2> Objective </h2>
    <p style="text-align: justify;">
        This project implements a interface (with form) to use trainned models to predict the classification based on inputed data by user. 
    </p>

    <h2> Technologies </h2>
    <p style="text-align: justify;">
        To provide this interface, we are using: <br>
        <ul>
            <li> <strong> Python with Flask </strong> in the backend to provide APIs. </li>
            <li> <strong> HTML + Bootstrap + Jinja2 </strong> to create the pages. </li>
            <li> <strong> Scikit-learn and Pickle </strong> to load the Machine Learning models. </li>
            <li> <strong> Google Cloud > App Engine </strong> to deploy and host this application. </li>
        </ul>
    </p>

{% endblock %}